*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.card{
    width: 90%;
    max-width:470px;
    background: linear-gradient(135deg, #00feba, hsl(248, 24%, 44%));
    color:white;
    margin: 50px auto 0;
    border-radius: 20px;
    padding: 10px 35px;
    text-align: center;
    
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.search input{
    height: 60px;
    flex: 1;
    border-radius: 25px;
    border: none;
    margin-right: 16px;
    padding: 10px 25px;
    font-size: 18px;
    outline: 0;
}
.search button{
    outline: 0;
    border-radius: 50%;
    border: none;
    height: 60px;
    width: 60px;
    cursor: pointer;
}
.search button img{
    width: 16px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px ;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px; 
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity ,.wind{
    font-size: 28px;
    margin-top:-6px ;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;

}


